{% extends "layout.html" %}

{%block title %} Messages {% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
<div class="row">
<div class="col-md-12">
  <table class="table table-bordered">
      <thead>
        <th>user id</th>
        <th>nickname</th>
        <th>remark name</th>
        <th>city</th>
        <th>province</th>
        <th>country</th>
        <th>avatar_url</th>
        <th>gender</th>
        <th>signature</th>
      </thead>
      <tbody>
          <tr>
            <td>{{ user.user_id }}</td>
            <td>{{ user.nick_name }}</td>
            <td>{{ user.remark_name }}</td>
            <td>{{ user.city }}</td>
            <td>{{ user.province }}</td>
            <td>{{ user.country }}</td>
            <td><img class="avatar" src="{{ url_for('static', filename=user.avatar_url) }}"></td>
            <td>{{ user.gender }}</td>
            <td>{{ user.signature }}</td>
          </tr>
      </tbody>
  </table>
</div>
<div class="col-md-12">
    <h3>His Questions</h3>
    <hr>
  <table class="table table-bordered">
    <thead>
      <th>receiver</th>
      <th>group</th>
      <th>content</th>
      <th>time</th>
    </thead>
    <tbody>
      {% for message in questions %}
      <tr>
        <td><a href="/user/{{ message.receiver }}">{{ message.receiver }}</a></td>
        <td>{{ message.group_name }}</td>
        <td><a href="/message/{{ message.message_id }}">{{ message.content }}</a></td>
        <td>{{ message.create_time }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
<div class="col-md-12">
    <h3>His Answers</h3>
    <hr>
  <table class="table table-bordered">
    <thead>
      <th>receiver</th>
      <th>group</th>
      <th>content</th>
      <th>time</th>
    </thead>
    <tbody>
      {% for message in answers %}
      <tr>
        <td><a href="/user/{{ message.receiver }}">{{ message.receiver }}</a></td>
        <td>{{ message.group_name }}</td>
        <td><a href="/message/{{ message.message_id }}">{{ message.content }}</a></td>
        <td>{{ message.create_time }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

</div>
{%endblock%}
